<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.cdnfonts.com/css/futura-lt" rel="stylesheet">
    <style>
        @import url('https://fonts.cdnfonts.com/css/klein-condensed-trial');
</style>
</head>
<body class="bg-gradient-to-r from-cyan-500 to-blue-500">
    <header class="bg-sky-100 text-sky-700 font-['Klein_Condensed_Trial'] text-lg h-24 "> 

        <nav class="flex justify-between items-center"> <!--flex que es un display nos ayuda a mover por "cajas", tranaja sobre dos ejes, horizontal y vertical, el horizontal(justify content) crea espacio, especia los objetos, y sobre la vertical(align-items) mueve los objetos de arriba a abajo-->
           
            <div class="flex justify-around items-center w-80">
                <a href="file:///home/penguin/Escritorio/taller%20web/raudalespy.com/index.html#" class="flex items-center">
                    <img class="h-24" src="../static/logo7.png" alt="raudalpy">
                    <h1 class="text-red-500 text-5xl">raudal.py</h1>
                </a>
            </div>

            <ul class="flex h-24 justify-around w-96 items-center text-xl">
              
             <li><a href="file:///home/penguin/Escritorio/taller%20web/raudalespy.com/index.html#">Inicio</a></li>
   
             <li><a href="file:///home/penguin/Escritorio/taller%20web/raudalespy.com/nosotros.html">Nosotros</a></li>
          
            </ul>
           
        </nav>  

    </header>
    
    <main>
            
    <div class="flex justify-around">
        <div class="w-7/12 h-screen bg-gray-900">
            <a href="/templates/home.html">mapa</a>
        </div>
      
        <div class="w-5/12 h-screen bg-red-500">
            <a href="/templates/home.html">tiempo</a>
        </div>
    </div>

    </main>
</body>
</html>